@using simple_recip_application.Features.NotificationsManagement.UserInterfaces.Components.Notifications;

@inherits LayoutComponentBase

<header>
    <CultureSelector />

    <div class="application-version">@Configuration["ApplicationVersion"]</div>

    <button class="btn btn-third btn-rounded" @onclick="ToggleMenu">
        <Icon IconName="@MaterialIconsConstants.Menu" />
    </button>
</header>
<div class="page">
    <main>
        <Notifications />

        <article>
            @Body
        </article>
    </main>

    <!-- Overlay Menu -->
    <div class="nav-menu-overlay @(_isMenuOpen ? "" : "nav-menu-overlay-hidden")" @onclick="@ToggleMenu">
        <button class="btn btn-third btn-rounded" @onclick="ToggleMenu" @onclick:stopPropagation="true">
            <Icon IconName="@MaterialIconsConstants.Close" />
        </button>
        <NavMenu OnMenuItemClicked="ToggleMenu" />
    </div>

</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>
