@rendermode InteractiveServer
 @inherits CustomComponentBase

<div class="card" @onclick="@(() => OnEditAsync(Ingredient))">
    <div class="card-img-container">
        <img src="@GetImageSource()" alt="@Ingredient.Name" class="card-img" />
        <div class="selection-icon @GetSelectionIconClass()" @onclick:stopPropagation=true @onclick="ToggleSelection"></div>
    </div>
    <div class="card-body">
        <h5 class="card-title">@Ingredient.Name</h5>
    </div>
</div>