@inherits CustomComponentBase

<h3>@(Product.Id.HasValue? LabelsTranslator.EditProduct: LabelsTranslator.AddProduct)</h3>

<EditForm Model="Product" OnValidSubmit="Submit">
    <DataAnnotationsValidator />

    <div class="form-body">

        @* Name *@
        <div class="form-field">
            <label for="@nameof(IProductModel.Name)">@LabelsTranslator.ProductName</label>
            <InputText id="@nameof(IProductModel.Name)" @bind-Value="Product.Name" class="form-control" />
            <ValidationMessage For="@(() => Product.Name)" />
        </div>

        @* Image *@
        <div class="form-field">
            <label for="@nameof(IProductModel.Image)">@LabelsTranslator.ImageLabel</label>
            <InputFile id="@nameof(IProductModel.Image)" OnChange="HandleImageUpload" accept="image/*"
                class="form-control" />
            <ValidationMessage For="@(() => Product.Image)" />
        </div>
        
        @* MeasureUnit *@
        <div class="form-field">
            <label for="@nameof(IProductModel.MeasureUnit)">@LabelsTranslator.MeasureUnit</label>
            <InputText id="@nameof(IProductModel.MeasureUnit)" @bind-Value="@Product.MeasureUnit" class="form-control" />
            <ValidationMessage For="@(() => Product.MeasureUnit)" />
        </div>

    </div>

    <div class="form-buttons">
        <button type="submit" class="btn btn-primary">
            @LabelsTranslator.SubmitButton
        </button>

        <button type="button" @onclick="@(() => OnCancelAsync())" class="btn btn-secondary">
            @LabelsTranslator.Cancel
        </button>

        <button type="button" @onclick="@(() => DeleteProduct(Product))"
            class="btn btn-danger @GetDeleleButtonCssClass()">
            @LabelsTranslator.Delete
        </button>
    </div>
</EditForm>