@page "/importation"

@inherits FluxorComponent
@rendermode InteractiveServer

<h3>@LabelsTranslator.ImportIngredients</h3>

<EditForm Model="@ImportModel" OnValidSubmit="HandleImport" FormName="import">
    <div class="form-field">
        <label for="@nameof(IImportModel.FileContent)">@LabelsTranslator.ImportLabel</label>
        <InputFile id="@nameof(IImportModel.FileContent)" OnChange="HandleImageUpload" />
    </div>

    <button type="submit" class="btn btn-primary">@LabelsTranslator.Import</button>
</EditForm>

<Loader IsVisible="ImportState.Value.IsLoading" />

<Modal OnClose="CloseRecipeFormModal" IsVisible="@RecipeState.Value.RecipeFormModalVisibility">

    <RecipeForm OnCancel="CloseRecipeFormModal" />
</Modal>