@page "/importation"

@inherits FluxorComponent
@rendermode InteractiveServer

<h3>@LabelsTranslator.ImportIngredients</h3>

<EditForm Model="@ImportModel" OnValidSubmit="HandleImport" FormName="import">
    <div class="form-field">
        <label for="@nameof(IImportModel.FilesContent)">@LabelsTranslator.ImportLabel</label>
        <InputFile id="@nameof(IImportModel.FilesContent)" OnChange="HandleImageUpload" multiple />
    </div>
    
    <div class="form-field">
        <label for="@nameof(IImportModel.ImportStrategy)">@LabelsTranslator.ImportStrategyLabel</label>
        <DropdownList Items="@(Enum.GetValues<ImportStrategyEnum>())" TItem="ImportStrategyEnum" />
    </div>

    <button type="submit" class="btn btn-primary">@LabelsTranslator.Import</button>
</EditForm>

<Loader IsVisible="ImportState.Value.IsLoading" />

<Modal OnClose="CloseRecipeFormModal" IsVisible="@RecipeState.Value.FormModalVisibility">

    <RecipeForm OnCancel="CloseRecipeFormModal" />
</Modal>