@typeparam TContent

<div class="card" @onclick="@(() => OnClickAsync())">
    <div class="card-img-container">
        <img src="@ImageSource" alt="@Title" class="card-img" />
        <div class="selection-icon @GetSelectionIconClass()" @onclick:stopPropagation=true
            @onclick="@(() => OnSelectAsync())"></div>
    </div>
    <div class="card-body">

        @if (BodyContent is not null)
        {
            @BodyContent
        }
        else
        {
            <h5 class="card-title">@Title</h5>
        }
    </div>
</div>