@page "/recipes"
@inherits Fluxor.Blazor.Web.Components.FluxorComponent
@rendermode InteractiveServer

<SearchBar OnSearch="@OnSearchTermChanged" />

<div class="recip-grid @GetRecipesVisibilityCssClass()">

    @if(RecipeState.Value.Items.Count() == 0)
    {
        <p class="no-ingredients-message">@Labels.NoRecipesFound</p>
    }

    @foreach (var recipe in RecipeState.Value.Items)
    {
         <Card TContent="IRecipeModel"
              Item="recipe"
              ImageSource="@recipe.Image.GetImageSource()"
              Title="@recipe.Name"
              OnClick="OpenRecipFormModalAsync" 
              OnSelect="HandleSelection" 
              IsSelected="@(RecipeState.Value.SelectedItems.Contains(recipe))" />
    }
</div>

<Loader IsVisible="@RecipeState.Value.IsLoading" />

<Modal OnClose="CloseRecipeFormModal" 
       IsVisible="@RecipeState.Value.RecipeFormModalVisibility">

    <RecipeForm Recipe="_selectedRecipe" 
                    OnCancel="CloseRecipeFormModal" />
</Modal>

<OptionsMenu Options="GetOptions()" />
