@page "/recipes"
@inherits Fluxor.Blazor.Web.Components.FluxorComponent
@rendermode InteractiveServer

<SearchBar OnSearch="@OnSearchTermChanged" />

<div class="recip-grid @GetRecipesVisibilityCssClass()">
    @foreach (var recipe in RecipeState.Value.Items)
    {
        <div>
            <h4>@recipe.Name</h4>
            <p>@recipe.Description</p>
            <button @onclick="@(() => OpenRecipFormModalAsync(recipe))">Edit</button>
            <button @onclick="@(() => DeleteRecipe(recipe))">Delete</button>
        </div>
    }
</div>

<Loader IsVisible="@RecipeState.Value.IsLoading" />

<Modal OnClose="CloseRecipeFormModal" 
       IsVisible="@RecipeState.Value.RecipeFormModalVisibility">

    <RecipeForm Recipe="_selectedRecipe" 
                    OnCancel="CloseRecipeFormModal" />
</Modal>

<OptionsMenu Options="GetOptions()" />