@page "/user-pantry"
@using simple_recip_application.Features.HouseholdProductsManagement.ApplicationCore.Entities
@using simple_recip_application.Resources
@inherits Fluxor.Blazor.Web.Components.FluxorComponent

@attribute [Authorize]
@attribute [Authorize(FeatureFlagsConstants.UserPantryManagement)]

<div class="userpantry-selector-container">
	<div class="userpantry-selector">

		<div class="userpantry-selector-search-bar">
			<DropdownList OnSearch="@SearchProducts"
						  Items="@UserPantryState.Value.FilteredProducts"
						  TItem="@(IProductModel)"
						  OnClick="@((product) => AddUserPantryItemModel(product))"
						  PropertyNameToDisplay="@(nameof(IHouseholdProductModel.Name))"
						  IsLoading="@UserPantryState.Value.IsLoadingFilteredProducts" />
		</div>
	</div>
	<!-- Tags (Selected Products with Quantity) -->
	<EditForm Model="new()">
		<div class="tags">
			@if (UserPantryState.Value.Items.Count() == 0)
			{
				<span>@LabelsTranslator.NoProductsFound</span>
			}

			@foreach (var userPantryItem in UserPantryState.Value.Items)
			{
				<Tag OnRemoveClick="@(() => RemoveUserPantryItemModel(userPantryItem))">
					@* Name *@
					<span>@userPantryItem.ProductModel?.Name</span>

					@* Quantity *@
					<div>
						<InputNumber Value="userPantryItem.Quantity"
									 ValueChanged="@((quantity) => UpdateUserPantryItem(userPantryItem, quantity))"
									 ValueExpression="@(() => userPantryItem.Quantity)"
									 TValue="decimal"
									 placeholder="@LabelsTranslator.Quantity"
									 min="0.5"
									 step="0.5" />
						<ValidationMessage For="@(() => userPantryItem.Quantity)" />
					</div>

					@* MeasureUnit *@
					<span>@userPantryItem.ProductModel?.MeasureUnit</span>
				</Tag>
			}
		</div>
	</EditForm>
</div>