@page "/user-pantry"
@using simple_recip_application.Resources
@inherits Fluxor.Blazor.Web.Components.FluxorComponent

@attribute [Authorize]
@attribute [Authorize(FeatureFlagsConstants.UserPantryManagement)]

<div class="userpantry-selector-container">
	<div class="userpantry-selector">

		<div class="userpantry-selector-search-bar">
			<DropdownList OnSearch="@SearchProducts"
						  Items="UserPantryState.Value.FilteredProducts"
						  TItem="@(IProductModel)"
						  OnClick="@((product) => AddUserPantryItemModel(product))"
						  PropertyNameToDisplay="@(nameof(IProductModel.Name))" />
		</div>
	</div>
	<!-- Tags (Selected Ingredients with Quantity) -->
	<div class="tags">
		@if (UserPantryState.Value.Items.Count() == 0)
		{
			<span class="badge badge-secondary">@LabelsTranslator.NoIngredientsFound</span>
		}

		@foreach (var userPantryItem in UserPantryState.Value.Items)
		{
			<Tag OnRemoveClick="@(() => RemoveUserPantryItemModel(userPantryItem))">
				@* Name *@
				<span class="badge badge-primary">@userPantryItem.ProductModel?.Name</span>

				@* Quantity *@
				<div>
					<InputNumber @bind-Value="userPantryItem.Quantity" placeholder="@LabelsTranslator.Quantity" min="0.5"
								 step="0.5" />
					<ValidationMessage For="@(() => userPantryItem.Quantity)" />
				</div>

				@* MeasureUnit *@
				<span>@userPantryItem.ProductModel?.MeasureUnit</span>
			</Tag>
		}
	</div>
</div>