@using simple_recip_application.Features.IngredientsManagement.UserInterfaces.Components;
@using Microsoft.AspNetCore.Components.Forms;

@inherits IngredientFormBase


<h3>@(IngredientId.HasValue? LabelsLocalizer["EditIngredientTitle"] : LabelsLocalizer["AddIngredient"])</h3>

<p class="@GetSuccessVisibilityCssClass()" style="color: green;">@MessagesLocalizer["AddIngredientSuccessMessage"]</p>

<EditForm Model="Ingredient" OnValidSubmit="Submit">
    <DataAnnotationsValidator />

    <div>
        <label>@LabelsLocalizer["IngredientName"]</label>
        <InputText @bind-Value="Ingredient.Name" class="form-control" />
        <ValidationMessage For="@(() => Ingredient.Name)" />
    </div>

    <div>
        <label>@LabelsLocalizer["ImageLabel"]</label>
        <InputFile OnChange="HandleImageUpload" accept="image/*" />
        <ValidationMessage For="@(() => Ingredient.Image)" />
    </div>

    <button type="submit" class="btn btn-primary">@LabelsLocalizer["SubmitButton"]</button>
    <button type="button" @onclick="@(async () => await OnCancelAsync())"
        class="btn btn-secondary">@LabelsLocalizer["Cancel"]</button>
</EditForm>