@page "/edit-ingredient/{id}"
@using Microsoft.AspNetCore.Components.Forms;
@using Microsoft.Extensions.Localization;
@using simple_recip_application.Features.IngredientsManagement.UserInterfaces.Pages;

@inherits EditIngredientBase

<h3>@LabelsLocalizer["EditIngredientTitle"]</h3>

<p class="@GetSuccessVisibilityCssClass()" style="color: green;">@MessagesLocalizer["UpdateIngredientSuccessMessage"]</p>

<EditForm Model="Ingredient" OnValidSubmit="@UpdateIngredient">
    <DataAnnotationsValidator />

    <div>
        <label>@LabelsLocalizer["IngredientName"]</label>
        <InputText @bind-Value="@Ingredient.Name" class="form-control" />
        <ValidationMessage For="@(() => Ingredient.Name)" />
    </div>

    <div>
        <label>@LabelsLocalizer["ImageLabel"]</label>
        <InputFile OnChange="HandleImageUpload" accept="image/*" />
        <ValidationMessage For="@(() => Ingredient.Image)" />
    </div>

    <button type="submit" class="btn btn-primary">@LabelsLocalizer["SaveButton"]</button>
</EditForm>
