@page "/recipe-planning"
@inherits FluxorComponent

<div class="weekly-recipes-container">
    @foreach (var day in GetOrderedDaysOfWeek())
    {
        <div class="daily-recipes">
            <h4>@day.FormattedDate</h4>

            @if (PlanifiedRecipeState.Value.RecipesGroupedByDay.TryGetValue(day.DayOfWeek, out var recipesForDay) && recipesForDay.Any())
            {
                <div class="recipes-grid">
                    @foreach (var planifiedRecipe in recipesForDay)
                    {
                        <Card TContent="IRecipeModel"
                              Item="@planifiedRecipe.RecipeModel"
                              ImageSource="@planifiedRecipe.RecipeModel.Image.GetImageSource()"
                              Title="@planifiedRecipe.RecipeModel.Name"
                              OnClick="@(() => OpenRecipeDetails(planifiedRecipe.RecipeModel.Id.Value))">

                            <BodyContent>
                                <h5>@planifiedRecipe.RecipeModel.Name</h5>
                                <div>@planifiedRecipe.MomentOftheDay</div>
                                <button class="btn btn-secondary"
                                        @onclick="(() => OpenChangeRecipeModal(planifiedRecipe))" @onclick:stopPropagation="true">
                                    @LabelsTranslator.Update
                                </button>
                            </BodyContent>

                        </Card>
                    }
                </div>
            }
            else
            {
                <button class="btn btn-primary add-recipe-btn"
                        @onclick="@(() => OpenRecipeSelectionModal(day.DayOfWeek))">
                    @LabelsTranslator.AddRecipe
                </button>
            }
        </div>
    }
</div>

<PaginationButtons CanPreviousClick="true" OnPrevious="LoadPreviousWeek" OnNext="LoadNextWeek" />

<!-- Modal de sélection ou modification de recette -->
<Modal IsVisible="@_isRecipeSelectionModalVisible" OnClose="@CloseRecipeSelectionModal">
    <RecipeSelector OnRecipeSelected="@HandleRecipeSelected" />
</Modal>

<Modal IsVisible="@_isChangeRecipeModalVisible" OnClose="@CloseChangeRecipeModal">
    <RecipeSelector OnRecipeSelected="@HandleRecipeChanged" />
    <div class="form-field">
        <label>@LabelsTranslator.MomentOfTheDay</label>
        <select @bind="@_selectedMomentOfTheDay">
            <option value="Matin">@LabelsTranslator.Morning</option>
            <option value="Midi">@LabelsTranslator.Noon</option>
            <option value="Soir">@LabelsTranslator.Evening</option>
        </select>
    </div>
</Modal>

<OptionsMenu Options="GetOptions()" />
