 @using Microsoft.AspNetCore.Components.Forms;
@using Fluxor.Blazor.Web.Components;
@using static Microsoft.AspNetCore.Components.Web.RenderMode

@inherits FluxorComponent
@rendermode InteractiveServer

<h3>@(IngredientId.HasValue? LabelsLocalizer["EditIngredientTitle"] : LabelsLocalizer["AddIngredient"])</h3>

<EditForm Model="Ingredient" OnValidSubmit="Submit">
    <DataAnnotationsValidator />

    <div>
        <label>@LabelsLocalizer["IngredientName"]</label>
        <InputText @bind-Value="Ingredient.Name" class="form-control" />
        <ValidationMessage For="@(() => Ingredient.Name)" />
    </div>

    <div>
        <label>@LabelsLocalizer["ImageLabel"]</label>
        <InputFile OnChange="HandleImageUpload" accept="image/*" />
        <ValidationMessage For="@(() => Ingredient.Image)" />
    </div>

    <div>
        <button type="submit" class="btn btn-primary">@LabelsLocalizer["SubmitButton"]</button>
        <button @onclick="@(() => OnCancelAsync())" class="btn btn-secondary">@LabelsLocalizer["Cancel"]</button>
    </div>
</EditForm>