@using simple_recip_application.Features.RecipesManagement.ApplicationCore
@using simple_recip_application.Features.IngredientsManagement.ApplicationCore
@using Microsoft.AspNetCore.Components.Forms

@inherits FluxorComponent

<div class="ingredients-selector">

    <SearchBar OnSearch="@SearchIngredients" OnFocus="@(() => _ddlVisibility = true)" />

    <!-- Dropdown List -->
    <ul class="dropdown-list @DdlVisibilityCssClass">

        @if (FilteredIngredients.Count == 0)
        {
            <li class="dropdown-item">
                @Labels.NoIngredientsFound
            </li>
        }

        @foreach (var ingredient in FilteredIngredients)
        {
            <li @onclick="() => AddIngredient(ingredient)" class="dropdown-item">
                @ingredient.Name
            </li>
        }
    </ul>


    <!-- Tags (Selected Ingredients with Quantity) -->
    <div class="tags">
        @if (RecipeState.Value.Item?.IngredientModels?.Count == 0)
        {
            <span class="badge badge-secondary">@Labels.NoIngredientsFound</span>
        }
        else
        {
            @foreach (var ingredient in RecipeState.Value.Item?.IngredientModels ?? [])
            {
                <div class="tag-item">
                    <span class="badge badge-primary">
                        @ingredient.IngredientModel.Name <span class="remove-tag"
                            @onclick="(() => RemoveIngredient(ingredient))">x</span>
                    </span>
                    <input type="number" @bind="ingredient.Quantity" class="quantity-input" placeholder="Quantity" />
                </div>
            }
        }
    </div>
</div>
